* {
  /*border: 1px dotted orange;*/
}

table {
  border-collapse: collapse;
}

tr {
  margin: 0;
}

tr:first-child {
  text-align: left;
}

td {
  text-align: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

th {
  padding: 0 10px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
