* {
  outline: 1px dotted red;
  margin: 0;
}

#page {
  max-width: 800px;
  margin: 20px auto 0px auto;
}

header {
  height: 80px;
}

#hdr-left, #hdr-middle, #hdr-right {
  width: 266px;
  height: 80px;
}

header > div {
  float: left;
}

#hdr-logo-left {
  float: left;
  margin: 20px;
  height: 40px;
}

#hdr-logo-right {
  float: right;
  height: 40px;
  margin: 20px;
}

#navbar {
  /*clear: both;*/
  width: 800px;
  height: 35px;
  padding: 0;
}


#menu-photo {
  height: 40px;
}

#navbar li {
  width: 156px;
  display: inline-block;
  list-style-type: none;
  height: inherit;
}

li img {
  /*position: absolute;*/
}

#main-section {
  /*background-image: url(assets/family.jpg);*/
  width: 650px;
  height: 360px;
  float: left;
}

#main-section img {
  width: 650px;
  opacity: .2;
}

aside {
  display: inline-block;
  width: 149px;
  height: 360px;
}

aside img {
  width: 80px;
}

footer {
  width: 800px
  height: 80px;
}

#footer-left, #footer-right {
  width: 399px;
  height: inherit;
}

#footer-left div, #footer-right div {
  height: inherit;
}

#footer-left div div {
  margin: 0px auto;
}

#footer-left h4 {
  display: inline-block;
  /*float: left;*/
  padding: 15px;
  margin: 0 auto;
  vertical-align: middle;
}
